body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fontSize: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.make{
background-color: lightgrey;
    color: black;
    padding: 10px;
}

.active-cyan-4 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan-4 input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

table td, .table th {
  border-top: 0px solid #dee2e6;
}

.text-muted {
   color: #000!important;
}

.table td, .table th {
    border-top: 0px solid #dee2e6;
}

.card {
    margin-bottom: 5px;
}

.table td, .table th {
    padding: 0.50rem !important;
}

.table td, .table th {
    padding: .50rem !important;
    vertical-align: top;
    border-top: 0px solid #dee2e6 !important;
}

.red{
  color: red !important;
}

.green{
  color: #228B22 !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
}

.tableone{
  width: 50%;
}

.tabletwo{
  width: 25%;
}

.tablefour{
  width: 25%;
}

.nname{
  width: 50%;
}

.css-2b097c-container{
  width: 77%;
  margin-left: 15px;
}

/*.css-g1d714-ValueContainer{
  width: 400px;
}*/

/*.custome{
  margin-left: 30px;
}*/

.heading{
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.hclass{
  color: black;
}

.card-body{
   padding-bottom: 0px;
}

.card-header{
  padding-top: 6px !important;
  padding-bottom: 5px !important;
}

.comment{
  width: 480px;
}

.tip{
  margin-right: 8px;
}

.change{
  margin-left: 8px !important;
}

.red{
 color: red !important;
}

.green{
 color: #228B22 !important;
}
.str-chat__channel-list-team__main{
  display: none;
}
.str-chat__input-fileupload{
  display: none;
}
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
 
.str-chat__message-simple__actions__action .str-chat__message-simple__actions__action--options{
  display: none !important;
}

.Buy{
 color:white;
 background-color: green;
 border: 8px solid green;
 border-radius: 5px;
}

.Sell{
 color:white;
 background-color: #dc3545;
 border: 8px solid #dc3545;
 border-radius: 5px;
}

.Avoid{
 color:white;
 background-color: black;
 border: 8px solid black;
 border-radius: 5px;
}

.suggestion{
 margin-top: 12px;
}

.card.text-white.mb-3.testtoo{
margin-bottom: 25px !important;
}

.str-chat__header-livestream-left{
  color: black;
}
.styles_faq-row-wrapper__3Hsch {
    background: rgb(38, 59, 102) !important;
    color: rgb(255, 255, 255) !important;
}

.news{
  font-size: 18px;
}
.modal{
   overflow: visible !important;
}
.modal-backdrop {
  z-index: -1;
}

.chat-main-root {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.chat-main-root>.chat-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 100%; 
  max-height: 1200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0;
}

.chat-message {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 8px;
  border: 1px solid transparent;
}

.chat-message {
  display:block;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:100%;
  box-sizing:border-box;
  padding:0 20px;
  margin-bottom:8px;
  border:1px solid transparent
}

.chat-message>.message-content {
  display:inline
}

.chat-message>.message-content>.message-nickname {
  align-items:center;
  display:inline;
  justify-content:flex-start;
  flex-direction:column;
  cursor:pointer
}

.chat-message>.message-content>.message-nickname.is-user {
  font-weight:600;
  color:#673AB7;
  cursor:initial
}

.chat-message>.message-content>.message-content {
  display:inline;
  white-space:pre-line
}

.chat-message>.message-content>.message-content.is-file {
  cursor:pointer
}

.chat-message>.message-content>.message-content.is-file:hover,.chat-message>.message-content>.message-content.is-file:focus {
  color:#328fe6
}

.chat-message>.message-content>.time {
  display:inline;
  margin-left:8px;
  font-size:12px;
  opacity:0.5
}

.chat-message>.message-content>.time.is-user {
  cursor:pointer
}

.chat-message>.message-content>.read {
  display:none;
  vertical-align:middle;
  text-align:center;
  width:18px;
  height:18px;
  line-height:17px;
  margin-left:8px;
  font-size:12px;
  color:#fff;
  font-weight:500;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  background:#DC5960
}

.chat-message>.message-content>.read.active {
  display:inline-block
}

.chat-message>.image-content {
  display:block;
  border-left:2px solid #555;
  padding-left:10px;
  margin-top:8px;
  cursor:pointer
}

.image-render {
  display:inline !important;
  max-width:300px !important;
  max-height:300px !important;
}

.chat-message>.message-admin {
  display:flex;
  align-items:center;
  width:100%;
  font-style:italic;
  color:#555
}

.chat-input {
  display: flex;
  padding: 20px;
  border-top: 1px solid #e0e2e5;
  background-color: #fff;
}

.typing-field {
  display: none;
  position: absolute;
  bottom: 79px;
  left: 220px;
  width: calc(100vw - 220px - 240px);
  padding: 6px 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  color: #555;
  opacity: 0.4;
  vertical-align: middle;
  font-size: 13px;
  font-style: italic;
}


/*.chat-body{display:flex;flex-direction:column;height:100%;max-height:calc(100vh - 180px);overflow-y:auto;overflow-x:hidden;padding:10px 0}

*/

.chat-message{display:block;flex-direction:row;justify-content:space-between;align-items:center;width:100%;box-sizing:border-box;padding:0 20px;margin-bottom:8px;border:1px solid transparent}.chat-message>.message-content{display:inline}.chat-message>.message-content>.message-nickname{align-items:center;display:inline;justify-content:flex-start;flex-direction:column;cursor:pointer}.chat-message>.message-content>.message-nickname.is-user{font-weight:600;color:#673AB7;cursor:initial}.chat-message>.message-content>.message-content{display:inline;white-space:pre-line}.chat-message>.message-content>.message-content.is-file{cursor:pointer}.chat-message>.message-content>.message-content.is-file:hover,.chat-message>.message-content>.message-content.is-file:focus{color:#328fe6}.chat-message>.message-content>.time{display:inline;margin-left:8px;font-size:12px;opacity:0.5}.chat-message>.message-content>.time.is-user{cursor:pointer}.chat-message>.message-content>.read{display:none;vertical-align:middle;text-align:center;width:18px;height:18px;line-height:17px;margin-left:8px;font-size:12px;color:#fff;font-weight:500;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;background:#DC5960}.chat-message>.message-content>.read.active{display:inline-block}.chat-message>.image-content{display:block;border-left:2px solid #555;padding-left:10px;margin-top:8px;cursor:pointer}.chat-message>.image-content>.image-render{display:inline;max-width:300px;max-height:300px}.chat-message>.message-admin{display:flex;align-items:center;width:100%;font-style:italic;color:#555}
.chat-input{display:flex;padding:20px;border-top:1px solid #e0e2e5;background-color:#fff}.chat-input>.typing-field{display:none;position:absolute;bottom:79px;left:220px;width:calc(100vw - 220px - 240px);padding:6px 20px;box-sizing:border-box;background-color:rgba(0,0,0,0.1);color:#555;opacity:0.4;vertical-align:middle;font-size:13px;font-style:italic}.chat-input>.input-file{display:flex;width:36px;height:36px;border:1px solid #e0e2e5;border-right:0;background-color:#fff;cursor:pointer;border-bottom-left-radius:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;-moz-border-bottom-left-radius:4px;-moz-border-top-left-radius:4px;-ms-border-bottom-left-radius:4px;-ms-border-top-left-radius:4px;-o-border-bottom-left-radius:4px;-o-border-top-left-radius:4px;background-image:url("https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-attach-file-normal.png");background-position:center center;background-size:20px 20px;background-repeat:no-repeat}.chat-input>.input-file:hover,.chat-input>.input-file:focus{border:1px solid #2C2D30;background-image:url("https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-attach-file.png");background-position:center center;background-size:20px 20px;background-repeat:no-repeat}.chat-input>.input-text{display:flex;font-size:15px;width:100%;height:38px;padding:7px 8px 6px 8px;box-sizing:border-box;border:1px solid #e0e2e5;background-color:#fff;border-bottom-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-bottom-right-radius:4px;-moz-border-top-right-radius:4px;-ms-border-bottom-right-radius:4px;-ms-border-top-right-radius:4px;-o-border-bottom-right-radius:4px;-o-border-top-right-radius:4px}.chat-input>.input-text:hover,.chat-input>.input-text:focus,.chat-input>.input-text:active{border:1px solid #2C2D30}.chat-input>.input-text>.input-text-area{width:100%;outline:none;border:0;resize:none;line-height:1.4;background-color:#fff;overflow:hidden}.chat-input>.input-text>.input-text-area:hover,.chat-input>.input-text>.input-text-area:focus{outline:none;border:0;resize:none;padding-top:2px;line-height:1.4}
.chat-user-item{display:flex;flex-direction:row;align-items:center;padding:10px 20px;cursor:pointer}.chat-user-item>.user-image{display:flex;width:36px;height:36px;margin-right:10px;background-size:36px 36px;background-position:center center;background-repeat:no-repeat;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%}.chat-user-item>.user-nickname{width:154px;max-width:154px;white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis}.chat-user-item>.user-nickname.is-user{font-weight:600;color:#673AB7}
.chat-menu-root{display:flex;flex-direction:column;width:240px;min-width:240px;max-width:240px;background-color:#fff;box-sizing:border-box;border-left:1px solid #e0e2e5;color:#2C2D30;padding:0}.chat-menu-root>.menu-item{display:flex;flex-direction:row;justify-content:space-between;align-items:center;align-content:center;padding:10px 20px;border-bottom:1px solid #e0e2e5;cursor:pointer}.chat-menu-root>.menu-item>.menu-users,.chat-menu-root>.menu-item>.menu-blocked{display:flex;opacity:0.6}.chat-menu-root>.menu-item>.menu-arrow{display:flex;width:36px;height:36px;background-image:url("https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-arrow-nomal.png");background-position:center center;background-size:26px 26px;background-repeat:no-repeat}.chat-menu-root>.menu-item:hover,.chat-menu-root>.menu-item:focus{background-color:#f8f9fa}.chat-menu-root>.menu-item:hover>.menu-users,.chat-menu-root>.menu-item:hover>.menu-blocked,.chat-menu-root>.menu-item:focus>.menu-users,.chat-menu-root>.menu-item:focus>.menu-blocked{opacity:1}.chat-menu-root>.menu-item:hover>.menu-arrow,.chat-menu-root>.menu-item:focus>.menu-arrow{background-image:url("https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-arrow.png");background-position:center center;background-size:26px 26px;background-repeat:no-repeat}.chat-menu-root>.menu-list{display:none;flex-direction:column;position:absolute;width:239px;height:calc(100% - 77px);background:#fff;z-index:999}.chat-menu-root>.menu-list>.list-title{display:flex;align-items:center;align-content:center;padding:10px 20px;box-sizing:border-box;color:#2C2D30;border-bottom:1px solid #e0e2e5;cursor:pointer}.chat-menu-root>.menu-list>.list-title:hover,.chat-menu-root>.menu-list>.list-title:focus{background-color:#f8f9fa}.chat-menu-root>.menu-list>.list-title>.list-back{display:flex;width:36px;height:36px;background-image:url("https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-back.png");background-position:0 center;background-size:24px 24px;background-repeat:no-repeat}.chat-menu-root>.menu-list>.list-title>.list-text{display:flex}.chat-menu-root>.menu-list>.list-body{display:block;flex-direction:column;height:100%;max-height:calc(100% - 56px);overflow-y:auto;overflow-x:hidden}
